# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages
notifications:
  email:
    on_failure: always


script:
  - |
    R CMD build --no-build-vignettes .
    travis_wait 40 R CMD check --no--vignettes asciiSetupReader*tar.gz

on_failure:
  - ./travis-tool.sh dump_logs

after_script:
  - ./travis-tool.sh dump_logs_by_extension "timings"
  - ./travis-tool.sh dump_sysinfo

r_packages:
  - covr

after_success:
  - Rscript -e 'library(covr); codecov()'
